@import "../../../theme/variables";

section {
  font-family: $font-primary;
  font-style: normal;
  line-height: normal;
  height: 100dvh;
  box-sizing: border-box;
  padding-top: 5%;
  main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 95%;

    .left-container {
      width: 50%;
      height: 100%;
      .imgs-container {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50%;
        }
      }

      @media (max-width: 900px) {
        display: none;
      }
    }
    .right-container {
      width: 50%;
      height: 100%;

      @media (max-width: 900px) {
        width: 85%;
      }

      .title {
        max-width: 690px;
        width: 90%;
        margin-top: 5rem;
        h1 {
          color: #000;
          font-family: $font-primary;
          font-size: 48px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 57.6px */

          @media (max-width: 430px) {
            font-size: 24px;
          }
        }
      }
      .input-form {
        margin-top: 5.5rem;
        max-width: 512px;
        width: 80%;
        label {
          color: #344054;
          font-family: $font-primary;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem; /* 142.857% */
          @media (min-width: 768px) {
            font-size: 1rem;
          }
        }

        input {
          margin-top: 0.5rem;
          width: 100%;
          display: flex;
          padding: 0.5rem 0.75rem;
          align-items: center;
          align-self: stretch;
          border-radius: 0.5rem;
          border: 1px solid var(--Gray-300, #d0d5dd);
          background: var(--Base-White, #fff);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          overflow: hidden;
          color: #000;
          font-family: $font-primary;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;

          @media (min-width: 768px) {
            font-size: 1rem;
          }

          &:focus,
          &:active {
            border: 1px solid #e2116e;
            outline: none;
            box-shadow: 0px 0px 4px rgba(226, 17, 110, 0.5);
          }

          &::placeholder {
            color: var(--Gray-400, #9ca3af);
            font-family: $font-primary;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            @media (min-width: 768px) {
              font-size: 1rem;
            }
          }
        }
      }
      .button-area {
        margin-top: 2.5rem;
        max-width: 320px;
        display: flex;
        align-items: center;
        gap: 50px;

        @media (max-width: 430px) {
          margin-top: 5rem;
        }
      }
    }
  }
}

:host::ng-deep {
  .p-inputtext {
    height: 2.13rem;
    font-size: 16px;
    color: #000;
    border: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: #b1b1b1;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 350;
    }
  }

  .error-msg {
    margin-top: 1rem;
    .p-message {
      padding: 0.5rem;
      margin-top: 0.5rem;
      align-items: center;
    }
    .p-message-icon {
      margin-right: 1.5rem;
      margin-left: 1rem;
      margin-top: 0.3rem;
    }
  }
}
