<section>
  <main>
    <div class="left-container">
      <div class="imgs-container">
        <img src="https://ik.imagekit.io/02vodkf4s/bkash_mothers_day/home-image.png" alt="img">
      </div>
    </div>
    <div class="right-container">
      <div class="title">
        <h1>Login to Admin Panel to access contents</h1>
      </div>
      <div class="input-form">
        <label for="email">Email</label>
        <input pInputText type="email" [(ngModel)]="email" id="email" />
        <br><br>
        <label for="pass">Password</label>
        <input pInputText type="password" [(ngModel)]="password" id="pass" />
        <p-messages styleClass="error-msg" key="error" />
        <div class="button-area">
          <button class="btn" (click)="LoginButtonAction()">Log In</button>
        </div>
      </div>

    </div>
  </main>
</section>