@import "../../../theme/variables.scss";
header {
  position: fixed;
  font-family: $font-primary;
  width: 100%;
  top: 0;

  nav {
    ul {
      height: 3.75rem;
      margin: 0 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      li {
        list-style: none;
        a {
          font-size: 1.25rem;
          color: rgb(0, 0, 0);
          .logo {
            width: 10rem;
            img {
              width: 100%;
            }
          }
          &.logout {
            color: rgb(255, 38, 0);
          }
        }
      }

      li:first-child {
        justify-self: start;
      }
      li:last-child {
        justify-self: end;
      }
    }
  }
}
