<header>
  <nav>
    <ul>
      <li>
        <a>
          <div class="logo" [routerLink]="['/']">
            <img src="https://ik.imagekit.io/02vodkf4s/bkash_mothers_day/pnemonic.png" alt="logo">
          </div>
        </a>
      </li>
      <li>
        <a [routerLink]="['/']">Submission Panel</a>
      </li>
      <li>
        <a class="logout" *ngIf="admin" (click)="logoutAction()">Log Out</a>
        <a [routerLink]="['/','login']" *ngIf="!admin">Log In</a>
      </li>
    </ul>
  </nav>
</header>