<section>
  <div class="bulk-button-container">
    <button class="btn" (click)="downloadDataAction()">Download Data</button>
    <button class="btn reversed" (click)="downloadImagesAction()"><span *ngIf="!loading">Download Shortlisted
        Images</span>
      <p-progressSpinner ariaLabel="loading" strokeWidth="6" *ngIf="loading" styleClass="spinner" /></button>
  </div>
  <main>
    <div class="tab-container">
      <p-tabView styleClass="ngTabView" [(activeIndex)]="activeIndex" (activeIndexChange)="OnTabChange()">
        <p-tabPanel header="Approved Submissions">
          <ng-template pTemplate="header">
            <div class="tabHeaderContainer">
              <span> Submissions </span>
              <p-badge [value]="approved.length" severity="secondary" />
            </div>
          </ng-template>
          <div class="submission-card-container">
            <p-table [value]="shown_submissions" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>Sl.</th>
                  <th>Name</th>
                  <th>bKash Wallet</th>
                  <th>Submitted Image</th>
                  <th>Shortlist</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-submission let-rowIndex="rowIndex">
                <tr>
                  <td>{{ rowIndex+1 }}</td>
                  <td>{{ submission.name }}</td>
                  <td>{{ submission.bkash_wallet_number }}</td>
                  <td>
                    <img (click)="openImage(staticAssetLink+submission.image_url)"
                      src="../../../assets/images/placeholder/anim.gif"
                      [lazyLoad]="staticAssetLink+submission.image_url" alt="heart" class="preview-image" />
                  </td>
                  <td class="icon-container">
                    <img (click)="setStatus($event,submission)"
                      src="{{ submission.status ==='Approved'?'../../../assets/images/heart-stroke.png': '../../../assets/images/heart.png' }}"
                      alt="heart" class="heart-icon" />
                  </td>

                  <td>
                    <div class="btn-container">
                      <button class="btn reversed"
                        (click)="openImage(staticAssetLink+submission.image_url)">View</button>
                      <button class="btn" (click)="download(submission)">Download</button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Shortlisted Submissions">
          <ng-template pTemplate="header">
            <div class="tabHeaderContainer">
              <span> Shortlisted Submissions </span>
              <p-badge [value]="shortlisted.length" severity="secondary" />
            </div>
          </ng-template>
          <div class="submission-card-container">
            <p-table [value]="shown_submissions" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>Sl.</th>
                  <th>Name</th>
                  <th>bKash Wallet</th>
                  <th>Submitted Image</th>
                  <th>Remove from shortlist</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-submission let-rowIndex="rowIndex">
                <tr>
                  <td>{{ rowIndex+1 }}</td>
                  <td>{{ submission.name }}</td>
                  <td>{{ submission.bkash_wallet_number }}</td>
                  <td>
                    <img (click)="openImage(staticAssetLink+submission.image_url)"
                      src="../../../assets/images/placeholder/anim.gif"
                      [lazyLoad]="staticAssetLink+submission.image_url" alt="heart" class="preview-image" />
                  </td>
                  <td class="icon-container">
                    <img (click)="setStatus($event,submission,'Approved')" src="../../../assets/images/remove.png"
                      alt="heart" class="heart-icon" />
                  </td>

                  <td>
                    <div class="btn-container">
                      <button class="btn reversed"
                        (click)="openImage(staticAssetLink+submission.image_url)">View</button>
                      <button class="btn" (click)="download(submission)">Download</button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="pagination-container">
      <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [showCurrentPageReport]="true"
        (onPageChange)="onPageChange($any($event))" currentPageReportTemplate="{first} - {last} of {totalRecords}"
        [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
    </div>
  </main>

</section>

<p-toast styleClass="toastNG" position="bottom-right" />

<div class="overlay" *ngIf="selectedImage" (click)="closeImage()">
  <div class="img-container">
    <img [src]="selectedImage" class="full-image" alt="overlay" />
  </div>
</div>