@import "../../../theme/variables.scss";
section {
  margin-top: 8.75rem;
  position: relative;
  main {
    z-index: 2;
    width: 80%;
    max-width: 1500px;
    height: calc(100dvh - 8.75rem - 2.5rem);
    margin: 0 auto;

    .tabHeaderContainer {
      display: flex;
      align-items: center;
      span {
        margin-right: 0.5rem;
      }
    }

    .submission-card-container {
      .preview-image {
        width: 10rem;
        object-fit: contain;
        cursor: pointer;
      }

      .heart-icon {
        cursor: pointer;
        width: 2rem;
        object-fit: contain;
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-direction: column;
      }
    }
  }

  .bulk-button-container {
    justify-content: right;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    z-index: 2;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;

    .btn {
      width: 15rem;
    }
  }
}

.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.img-container {
  width: 80%;
}

.full-image {
  object-fit: contain;
  max-height: 80dvh;
  border-radius: 8px;
}

:host::ng-deep {
  .spinner {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    .p-progress-spinner-svg {
      width: 100%;
    }
    .p-progress-spinner-circle {
      stroke: #e2116e !important;
    }
  }

  .ngTabView {
    font-family: $font-primary;
  }

  .p-tabview-nav {
    width: 100%;
    justify-content: center;
    border: none;
  }
  .p-tabview-nav-link {
    padding: 1.25rem;
    margin: 0 0 2px 0;
    color: #888;
    font-family: $font-primary;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

    &:hover {
      color: #171717;
    }
  }

  .p-highlight .p-tabview-nav-link {
    color: #171717;
  }

  .p-tabview-panels {
    padding: 1.25rem 0 0 0;
  }

  .p-tabview-panel {
    height: 60dvh;
    overflow-y: auto;
  }

  .ngPimage {
    margin-left: 1.12rem;
    border-radius: 0.625rem;

    .p-image-preview-indicator {
      border-radius: 0.625rem;
    }
    img:not(.p-image-preview) {
      height: 9.875rem;
      aspect-ratio: 11.75/9.875;
      border-radius: 0.625rem;
      box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.04);
      object-fit: cover;
    }
  }

  .toastNG {
    font-family: $font-primary;
    bottom: 6rem;
    @media (max-width: 430px) {
      max-width: 320px;
    }

    .p-toast-message {
      margin-bottom: 1rem;
    }
    .p-toast-message-content {
      padding: 1rem;
      @media (max-width: 430px) {
        padding: 0.5rem;
      }

      .p-toast-message-text {
        margin-left: 1rem;
        .p-toast-detail {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
